body{
	margin: 0;
	padding: 0;
}
.grid{
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(140px,1fr));
	gap: 0;
	object-fit: cover;
	margin: -10px;
	z-index: 1;
	background: #b2adb1;
	overflow: hidden;
}

.grid img{
	width:100%;
	height: 160px;
	object-fit: cover;
	display: block;
	margin: -20px;
	position: relative;
	z-index: 1;
	image-rendering: pixelated;
}

.grid img:nth-child(2n+1){
	z-index: 3;
	transform: rotate(2deg);
}

.grid img:nth-child(3n+1){
	z-index: 4;
	transform: rotate(-2deg);
}

.grid img:nth-child(5n+1){
	z-index: 5;
	transform: rotate(-6deg);
}
.grid img:nth-child(6n){
	z-index: 6;
	transform: rotate(6deg);
}
.grid img:nth-child(6n+1){
		z-index: 7;
	transform: scale(1.2);
}
.grid img:nth-child(4n+1){
	z-index: 11;
	transform: scale(.7);
	box-shadow: 7px 7px 5px 1px rgba(0, 0, 0, .5)
}
.grid img:nth-child(5n){
		z-index: 8;
	filter: blur(3px);
}
.grid img:nth-child(4n){
		z-index: 9;
	filter: blur(7px);
}

.grid img:nth-child(3n){
		z-index: 10;
    border: 4px dotted white;
}

.grid img:hover {
	z-index: 40;
	transform: scale(3.5);
}
